      {% extends "index.html" %}  

      {% load static %}
      {%load crispy_forms_tags%}

      {% block body %}
        <section  class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            <div style="background-color:white; width:100%;height:270px;" class="">
					<div class="banner_content align-items-center ">
					    <img style="width:100%; height:100%; object-fit:cover; " src="{% static 'img/dev-blog/dev3.jpg' %}" alt="">

					</div>
				</div>
            	<div >
                </div>
            </div>
        </section>
     
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div style="background-color:#DEE0E2" class="blog_left_sidebar">
                        
                                    <div style="padding:20px" class=" offset-md-2 mr-3">
                                        <h3>Yazı Ekle</h3>
                                        <hr>
                                          {% crispy form%} 
                                    </div>    
                              
                        </div>
                    </div>
                    {% include "right_side.html" %}
                </div>
            </div>
        </section>

      {% endblock  %}
        
        
        
        
        